<div class="w-full md:text-8xl sm:max-md:text-5xl flex">
  <!-- <div
    class="text-7xl inline-block border-r-2 border-black overflow-hidden whitespace-nowrap animate-typing animate-blink"
  >
    {{ name }}
  </div> -->
  <div>> &nbsp;</div>
  <div class="inline-block">
    <span class="typing-effect sm:max-md:border-r-8" [style.--char-count]="name.length">
      {{ name }}
    </span>
  </div>
</div>

<div class="w-full md:mt-10 sm:max-md:mt-2 sm:max-md:text-center sm:max-md:text-lg text-2xl text-gray-700 ">
  {{description}}
</div>
