<div class="md:w-1/2 sm:max-md:w-full sm:max-md:px-2 mt-24 md:mx-auto">
    <app-name-display />
</div>

<div class="md:w-1/2 md:mx-auto sm:max-md:w-full mt-16">
    <app-console-window></app-console-window>
</div>

<div class="md:w-1/2 md:mx-auto md:mt-36 sm:max-md:w-full sm:max-md:mt-20 sm:max-md:p-2" id="projects">
    <app-projects></app-projects>
</div>

<div class="md:w-1/2 md:mx-auto md:mt-36 sm:max-md:w-full sm:max-md:mt-20 sm:max-md:p-2" id="contact">
    <app-contact></app-contact>
</div>

<footer class="w-full text-gray-800 text-center py-4 mt-36 mb-12">
    <p>MADE BY - Aaryan Jain &copy; 2024</p>
</footer>