<nav class="p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-gray-800 text-lg font-semibold">My Portfolio</a>
    <div class="space-x-4">
      <a href="#about" class="text-gray-800 hover:text-black hover:scale-125">About</a>
      <a href="#projects" class="text-gray-800 hover:text-black">Projects</a>
      <a href="#contact" class="text-gray-800 hover:text-black">Contact</a>
    </div>
  </div>
</nav>
<div class="w-full mt-24">
  <app-name-display />
</div>

<div class="w-1/2 mx-auto mt-16">
    <app-console-window></app-console-window>
</div>
